@page "/Clients/Create"
@using WebApp.Models
@inject HttpClient Http
@inject NavigationManager navManager

<div class="row">
    <div class="col-lg-8">

        <h1 class="mb-5">Novo Cliente</h1>

        <div class="row mb-3">
            <label class="col-md-4 col-form-label">Primeiro Nome</label>
            <div class="col-md-8">
                <input class="form-control" @bind="ClientData.PrimeiroNome" />
                <span class="text-danger">@Errors["Primeiro Nome"]?[0]</span>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-md-4 col-form-label">Sobrenome</label>
            <div class="col-md-8">
                <input class="form-control" @bind="ClientData.Sobrenome" />
                <span class="text-danger">@Errors["Sobrenome"]?[0]</span>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-md-4 col-form-label">Email</label>
            <div class="col-md-8">
                <input class="form-control" @bind="ClientData.Email" />
                <span class="text-danger">@Errors["Email"]?[0]</span>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-md-4 col-form-label">Telefone</label>
            <div class="col-md-8">
                <input class="form-control" @bind="ClientData.Telefone" />
                <span class="text-danger">@Errors["Telefone"]?[0]</span>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-md-4 col-form-label">Endereço</label>
            <div class="col-md-8">
                <input class="form-control" @bind="ClientData.Endereco" />
                <span class="text-danger">@Errors["Endereço"]?[0]</span>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-md-4 col-form-label">Status</label>
            <div class="col-md-8">
                <select class="form-select" @bind="ClientData.Status">
                    <option value="Novo">Novo</option>
                    <option value="Permanente">Permanente</option>
                    <option value="Líder">Líder</option>
                    <option value="Casual">Casual</option>
                    <option value="Inativo">Inativo</option>
                </select>
                <span class="text-danger">@Errors["Status"]?[0]</span>
            </div>
        </div>

        <div class="row">
            <div class="offset-md-4 col-md-4 d-grid">
                <button class="btn btn-primary" @onclick="SaveClient">Enviar</button>
            </div>
            <div class="col-md-4 d-grid">
                <a class="btn btn-outline-primary" href="/Clients">Cancel</a>
            </div>
        </div>

    </div>
</div>

@using System.Text.Json.Nodes   

@code {
    public ClientDto ClientData { get; set; } = new();
    public JsonNode Errors { get; set; } = new JsonObject();

    protected async Task SaveClient()
    {
        var response = await Http.PostAsJsonAsync(
            "https://localhost:4000/api/Clients", ClientData);

        if (response.IsSuccessStatusCode)
        {
            navManager.NavigateTo("/Clients");
        }
        else
        {
            var strResponse = await response.Content.ReadAsStringAsync();
            Console.WriteLine("Json Response: \n" + strResponse);

            try
            {
                var jsonResponse = JsonNode.Parse(strResponse);
                Errors = jsonResponse?["errors"] ?? new JsonObject();
            }
            catch (Exception)
            {
            }
        }
    }
}