@page "/Clients"
@using WebApp.Models
@inject HttpClient Http

<h1 class="text-center mb-3">Lista de clientes</h1>

<a class="btn btn-primary mb-3" href="/Clients/Create">Novo cliente</a>

@if (clients == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Status</th>
                <th>Data de criação</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in clients)
            {
                <tr>
                    <td>@client.Id</td>
                    <td>@(client.PrimeiroNome + " " + client.Sobrenome)</td>
                    <td>@client.Email</td>
                    <td>@client.Telefone</td>
                    <td>@client.Status</td>
                    <td>@client.DataCriacao.ToShortDateString()</td>
                    <td style="white-space:nowrap">
                        <a class="btn btn-primary btn-sm" href="/Clients/Edit/@client.Id">Edit</a>
                        <a class="btn btn-danger btn-sm" href="/Clients/Delete/@client.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<Client>? clients;

    protected override async Task OnInitializedAsync()
    {
        clients = await Http.GetFromJsonAsync<List<Client>>(
            "https://localhost:4000/api/Clients");
    }
}
